h1           
{ 
color: #575E21;
border: 1pt solid black none; 
}

p
{
color: #999966;
background-color:#EFE7D6;
border: 1pt solid black none; 
}

div
{
color: #FFFFFF;
background-color:#000000;
}

span
{
color: #000000;
background-color:#FFFFFF;
}